DATABASE_URL=postgresql://username:password@host:port/database?sslmode=require
API_KEY=
CORS_ORIGINS=http://localhost:3000
SCHEDULER_ENABLED=true
AMAZON_SCRAPE_INTERVAL_MIN=60
OTHER_SCRAPE_INTERVAL_MIN=45
CLEANUP_INTERVAL_HOUR=3
